WEBSERVER_PORT="8086"

MONGODB_HOST="localhost"
MONGODB_PORT="27017"
MONGODB_USER=""
MONGODB_PASSWORD=""
MONGODB_DATABASE=""
MONGODB_COLLECTION=""

MARIADB_HOST="localhost"
MARIADB_PORT="3306"
MARIADB_USER=""
MARIADB_PASSWORD=""
MARIADB_DATABASE=""
MARIADB_TABLE=""

SALT_WORD=""
